html, body {
  padding: 0;
  margin: 0;
}

* {
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}
a {
  text-decoration: none;
  color: #4A90E2;
}
a:hover {
  color: #2A5280;
  border-bottom: 1px solid #2A5280;
}
.template {
  display: none !important;
}

@font-face {
  font-family: openSansExtraBold;
  src: url('fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
  font-family: openSansBold;
  src: url('fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: openSansSemiBold;
  src: url('fonts/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: openSansRegular;
  src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: openSansLight;
  src: url('fonts/OpenSans-Light.ttf');
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body {
  background-size: 600% 600%;
  background-image: -webkit-repeating-linear-gradient(to top right, #2AF598, #FED001, #FC00FF, #B721FF, #08AEEA, #2AF598, #FED001,#FC00FF, #B721FF, #08AEEA, #2AF598);
  background-image: -moz-repeating-linear-gradient(to top right, #2AF598, #FED001, #FC00FF, #B721FF, #08AEEA, #2AF598, #FED001, #FC00FF, #B721FF, #08AEEA, #2AF598);
  background-image: -o-repeating-linear-gradient(to top right, #2AF598, #FED001, #FC00FF, #B721FF, #08AEEA, #2AF598, #FED001, #FC00FF, #B721FF, #08AEEA, #2AF598);
  background-image: repeating-linear-gradient(to top right, #2AF598, #FED001, #FC00FF, #B721FF, #08AEEA, #2AF598, #FED001, #FC00FF, #B721FF, #08AEEA, #2AF598);
  -webkit-animation: gradientAnimation 30s linear infinite;
  -moz-animation: gradientAnimation 30s linear infinite;
  animation: gradientAnimation 30s linear infinite;
}

.card-scroll-wrapper {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  padding: 0;
  overflow-y: auto;
  height:100%;
}
#main-card .card-padding-wrapper {
  left:0;
  right:0;
  margin: 0 auto;
  padding: 45px;
  opacity: 1;
}
#main-card .card {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px;
}
.card-padding-wrapper {
  position: relative;
  max-width: 1300px;
  margin:0;
  opacity: 0;
  -webkit-transform : scale(1);
  -moz-transform    : scale(1);
  -ms-transform     : scale(1);
  -o-transform      : scale(1);
  transform         : scale(1);
  -webkit-filter : blur(0px);
  filter: blur(0px);
  -webkit-transition: all 400ms ease-in;
  -moz-transition:  all 400ms ease-in;
  -ms-transition:  all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.card {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  min-height: 100%;
  overflow: hidden;
  -webkit-transition: all 400ms ease-in;
  -moz-transition:  all 400ms ease-in;
  -ms-transition:  all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}
.card:after {
  background-color: transparent;
  -webkit-transition: background-color 400ms ease-in;
  -moz-transition:  background-color 400ms ease-in;
  -ms-transition:  background-color 400ms ease-in;
  -o-transition: background-color 400ms ease-in;
  transition: background-color 400ms ease-in;
}

.card-header {
  padding:45px;
}
.main-card-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
	-moz-box-pack: space-between;
	-ms-flex-pack: space-between;
 	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.main-card-header-text {

}
.main-card-header-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 5px;
}
.main-card-header-links a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
 	-webkit-align-items: center;
 	align-items: center;
  -webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
 	-webkit-justify-content: center;
	justify-content: center;
  background-color: #EFEFEF;
  -webkit-transition: -webkit-transform 100ms ease-in;
  -moz-transition: -moz-transform 100ms ease-in;
  -ms-transition: -ms-transform 100ms ease-in;
  -o-transition: -o-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  height:46px;
  width:46px;
  margin-left:15px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  border-radius: 23px;
}
.main-card-header-links a:hover {
  background-color: #DEDEDE;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -moz-transform: scale(1.07);
  transform: scale(1.07);
  border: none !important;
}
.main-card-header-links a img {
  height:20px;
  width:20px;
}
h1 {
  font-family: openSansExtraBold;
  font-size: 3.5em;
  margin:0;
  line-height: 0.8em;
}
h3 {
  letter-spacing: 1px;
  font-family: openSansLight;
  margin:0;
  margin-top: 1.2em;
  font-size: 1.1em;
  line-height: 1.4em;
  color:#737373;
}

.card-body {
  background-color: #f9f9f9;
  padding: 45px 30px;
  min-height: 100%;
}
#main-card .card-body {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
}

.project-container {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  -ms-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  position: relative;
  margin:15px 15px 40px 15px;
}
.project-container::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.project-container:hover {
  cursor: pointer;
}
.project-container .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 100ms ease-in;
  -moz-transition: -moz-box-shadow 100ms ease-in;
  -ms-transition: -ms-box-shadow 100ms ease-in;
  -o-transition: -o-box-shadow 100ms ease-in;
  transition: box-shadow 100ms ease-in;
  -webkit-box-shadow: 0px 8px 30px -8px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 8px 30px -8px rgba(0,0,0,0.2);
	box-shadow: 0px 8px 30px -8px rgba(0,0,0,0.2);
}
.project-container:hover .image-wrapper {
  -webkit-box-shadow: 0px 9px 35px -9px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 9px 35px -9px rgba(0,0,0,0.3);
	box-shadow: 0px 9px 35px -9px rgba(0,0,0,0.3);
}
.project-container img {
  -o-object-fit: cover;
  object-fit: cover;
  height:100%;
  width:100%;
  background-color: #D8D8D8;
}
.project-container p {
  position: absolute;
  top:100%;
  font-family: openSansRegular;
  color:black;
  margin:0;
  padding-top: 12px;
}
.project-container:hover p {
  border-bottom: 1px solid black;
}
.card-padding-wrapper.darken .card:after {
  content: "";
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.1);
}
